div.container{
  margin-bottom: 15px;
}
tr.headcol{
  background-color: white;
  width: 100%;
  padding-bottom: 2em;
}
th{
  width: 8.3%;
}
th.accounta{
  width: 49%;
}
th.mrg{
  width: 16.8px;
}
.accounta{
  text-align: left;
}
div.scrollacc{
  overflow-y: scroll;
  max-height: 20em;
}
tr{
  height: 2em;
  font-size: 1.2em;
}
.tile{
  width: 100%;
}
