div.content.participants{
  max-height: 150px;
  overflow-y: auto;
}
div.button.right{
  float: right;
}
.filter{
  margin-right: 1em;
}
.filter-item{
  position: absolute;
  display: block;
  text-align: center;
  font-size: 50px;
  background-color: #aaa;
  width: 75%;
  margin: -50px auto 0px auto;
  z-index: -1;
}
.search{
  z-index: 2;
}
p img{
  width: 100%;
}
a.title:hover{
  color: white;
  transition: 0.5s;
}
